---
import { SITE } from '~/utils/config';
import logoMetadata from 'src/assets/images/logo.webp';

---

<div class="flex items-center">
  <img
    src={logoMetadata.src}
    alt="Logo de votre site"
    class="self-center ml-2 rtl:ml-0 rtl:mr-2"
    width={50}
    height={50}
  />
  <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
     {SITE?.name}
  </span>
</div>

